.body{
    font-family: 'Work Sans', sans-serif;
}

.logoname{
    color: var(--primary, #2947A9);
font-family: Work Sans;
font-size: 21.952px;
font-style: italic;
font-weight: 700;
line-height: normal;
}

.menu-items li{
    color: var(--neutral-900, #14171F);
font-family: Work Sans;
font-size: 13.171px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.menu-items li:last-child{
    color: #F9995D;
    font-weight: 600;
}